<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script type="text/javascript">
IMP.init('imp84907545'); //iamport 대신 자신의 "가맹점 식별코드"를 사용하시면 됩니다
IMP.request_pay({
	merchant_uid : 'merchant_' + new Date().getTime(),
	name : '/*[[${room.getRoomName()}]]*/',
	amount : '/*[[${room.getPrice()}]]*/',
	buyer_email : '/*[[${user.getUser().getEmail()}]]*/',
	buyer_name : '/*[[${user.getUser().getUsername()}]]*/',
	buyer_tel : '010-1234-5678',
	buyer_addr : '경기도 안양시 만안구',
	buyer_postcode : '123-456'
 }, function (rsp) { // callback
      if (rsp.success) { // 결제 성공 시: 결제 승인 또는 가상계좌 발급에 성공한 경우
        // jQuery로 HTTP 요청
        let data = {
                paid: rsp.paid_amount,
                buyerName: rsp.buyer_name,
                buyRoom: rsp.name
        };
        jQuery.ajax({
            url: "/api/rooms/reservation", // 예: https://www.myservice.com/payments/complete
            method: "POST",
            headers: { "Content-Type": "application/json" },
            data:JSON.stringify(data)
        }).done(function (data) {
          location.href=`/buyInfo`;
        })
      } else {
        alert("결제에 실패하였습니다. 에러 내용: " +  rsp.error_msg);
      }
    });
</script>
</html>