<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v11.0&appId=1172207466624493&autoLogAppEvents=1" nonce="PVRw8rU7"></script>
<a href="/oauth2/authorization/google">
    <img src="/image/googleLoginBtn.png" width="191px" height="46px">
</a><br>

<a href="/oauth2/authorization/facebook">
    <img src="/image/facebookLoginBtn.PNG" width="180" height="40">
</a><br>

<a href="/oauth2/authorization/naver">
    <img src="/image/naverLoginBtn.png" width="110px" height="40ps">
</a><br>

<a href="/oauth2/authorization/kakao">
    <img src="/image/kakaoLoginBtn.png">
</a>
</body>
</html>